.back {
    background-color: #f6f5f4;
    font-size: 13px;
    padding: 10px;
}

.back a,
.back span {
    text-decoration: none;
    color: #a1a0a0;
    margin-left: 20px;
}

.checkout-container {
    width: 1200px;
    margin: auto;
    /* text-align: center; */
}

.checkout-container h1 {
    text-align: center;
}

/* ------------thông tin khách hàng--------------------- */

.checkout-container__main {
    display: flex;
    justify-content: space-between;
    font-size: large;
}



.checkout-container__main__infor-customer {
    display: flex;
    flex-direction: column;
    border: 1px solid #bab9b9;
    margin: 10px;
    padding: 14px;
    border-radius: 10px;
    width: 60%;
}

.checkout-container__main__infor-customer__name-phone {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.infor-customer__name,
.infor-customer__phone {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.checkout-container__main__infor-customer__note textarea {
    min-height: 100px;
    ;
}


/* ------------thanh toán đơn hàng----------------------- */
.checkout-container__main__pay {
    flex: 1;
    border: 1px solid #bab9b9;
    margin: 10px;
    padding: 24px;
    border-radius: 10px;
    height: 680px;
    position: sticky;
    top: 10px;
}

.style-input {
    border: 1px solid #bab9b9;
    margin: 4px;
    padding: 6px;
    border-radius: 10px;
    width: 100%;
}

.style-input:focus {
    outline: none;
    border: 2px solid #FF6C80;
}

.margin-top-bottom {
    margin: 10px 0;
}

.total-order {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c1c1c1;
}

.tamp-pay,
.ship,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tamp-pay p,
.ship p,
.order p {
    color: #877575;
}

.total span {
    font-size: 24px;
    font-weight: 700;
    color: #EC4699;
}

.order button {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #dd63a0;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

.order button:hover {
    background-color: #EC4699;
}

.order {
    text-align: center;
}

.order p,
.order a {
    font-size: 14px;
}

.order a {
    text-decoration: none;
    color: #EE59A3;

<<<<<<< HEAD
}

/* --------------voucher------------- */
.voucher {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c1c1c1;
}

.voucher__add {
    display: flex;
    gap: 10px;
}

.voucher__add input {
    flex: 1;
    border: 1px solid #bab9b9;
    border-radius: 6px;
    padding: 6px;
}

.voucher__add button {
    padding: 6px 12px;
    background-color: #e77ab0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.payment-method__select__option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    border: 1px solid #bab9b9;
    padding: 6px;
    border-radius: 10px;
}

.payment-method__select__option input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.content p {
    color: #6b6a6a;
}