.materials {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
    padding: 40px 0;
}

/* ===== Thanh Side bar ===== */

.materials__sidebar {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

.sidebar__title {
    font-size: 1.4rem;
    margin-bottom: 12px;
    color: #ff6c80;
}

.sidebar__list {
    list-style: none;
}

.sidebar__list li a {
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    border-radius: 6px;
    color: #333;
    transition: 0.25s ease;
}


.sidebar__list li a:hover {
    background: #ffdee9;
    color: #d63384;
    padding-left: 14px;
    text-decoration: none;
}

.sidebar__list li a {
    display: block;
    padding: 8px 10px;
    border-radius: 6px;
    transition: 0.25s ease;
}

.sidebar__list li a:hover {
    background: #ffdee9;
    color: #d63384;
    padding-left: 14px;
}

.sidebar__list li a.active {
    background: #ffe6f3;
    color: #d63384;
    border-radius: 6px;
}

.recent {
    display: flex;
    margin-bottom: 12px;
}

.recent img {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    object-fit: cover;
}

.recent__info {
    margin-left: 10px;
}

.recent__info p {
    font-size: 1.2rem;
}

.recent__info span {
    font-size: 1.1rem;
    color: #888;
}

/* ===== Content chính ===== */

.materials__heading {
    font-size: 2rem;
    margin-bottom: 20px;
}

.materials__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.material__item {
    background: #fff;
    padding: 14px;
    border-radius: 12px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    transition: 0.2s ease;
}

.material__item:hover {
    transform: translateY(-4px);
}

.material__item img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    object-fit: cover;
}

.material__item h3 {
    margin-top: 10px;
    font-size: 1.4rem;
}

.item__stats {
    display: flex;
    gap: 15px;
    margin-top: 6px;
    font-size: 1.2rem;
    color: #888;
}

/* ====== Phân Trang ===== */

.pagination {
    margin-top: 30px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 50%;
    background: #fff;
    color: #444;
    font-size: 1.3rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06);
}

.pagination a.active {
    background: #ff6c80;
    color: #fff;
}
