.policy-container {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  color: #333;
}
/*BACK_TO_HOME*/

.back a {
  border: 1px solid #757575;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Coiny', sans-serif;
  color: black;
}

.back a:hover {
  background-color: #FF6C80;
  color: white;
  transition: ease .3s;
}
.back a i {
  margin-right: 5px; 
}

.back {
  margin-bottom: 20px;

}

.policy-header {
  text-align: center;
  margin-bottom: 40px;
}

.policy-header h1 {
  font-size: 30px;
  color: #000000;
  margin-bottom: 10px;
}

.policy-section {
  margin-bottom: 40px;
}

.policy-section h2 {
  font-size: 1.3rem;
  color: #111;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.policy-section h2 i {
  color: #ff4fa3;
}

.policy-section ul {
  margin-left: 20px;
  list-style: disc;
}

.policy-section ul li {
  margin-bottom: 8px;
}

.policy-section a {
  color: #ff4fa3;
  text-decoration: none;
}

.policy-section a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .policy-container {
    margin: 50px 10px;
  }
}
