


/* --- Google Fonts Import --- */
/*Font: Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Font: Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Font: be-vietnam-pro*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Font: Baloo 2*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

/*dùng làm h1 rất ok*/
/*Font: Fredoka*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

/*Font: Paytone One*/
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/*Trông hơi gốc cạnh nhưng vẫn dễ thương*/
/*Font: Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700;800&display=swap');


/*Trông tròn dễ thương*/
/*Font: Coiny */
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
