/*--- FOOTEr---*/

.footer {
    background-color:  rgba(236, 117, 173);
  /* background: linear-gradient(45deg, hsl(335, 100%, 67%), #ffaa32); */
  color: #fff;
  padding: 80px 0;
  text-align: center;
  
}

.footer__container {
  display: flex;
  flex-wrap: wrap; /* Cho phép xuống hàng khi thu nhỏ */
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin: auto;
  max-width: 1200px;
}

.footer__col h3 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s ease-in;
    font-family: 'Fredoka' , sans-serif;
}
.footer__col h3:hover {
    transform: translateY(5px);

}

.footer__col h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: #ffb84d;
    margin-top: 8px;
}

.footer__col ul {
    display: flex;
    flex-direction:  column;
    align-items: first baseline;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer__col ul li {
    margin: 10px 0;
}
.footer__col ul li a {
    text-decoration: none;
    font-weight: 400;
    display: block;
    color: #fff;
    transition: 0.3s all ease;
}
.footer__col ul li a:hover {
  transform: translateX(5px) scale(1.1);
  
  color: #ffb84d; 
}
/*----FOOTER-logo----*/

.footer__logo {
  text-align: center;
 
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer__logo img {
  width: 15rem;
  height: auto;
  object-fit: contain;
  display: block;
}

.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap; 
  margin-top: 10px;
}

.footer__icon a {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.footer__icon a:hover {
  background: linear-gradient(45deg, #ffb84d, #ec75ad);
  transform: translateY(-4px);

}

.footer__logo p {
  margin: 10px;
  color: #fff;
  font-size: 0.95rem;
  line-height: 1.6;
  max-width: 320px;
  text-align: left;
     font-family: 'Fredoka' , sans-serif;
}
.footer__contact{
 text-align: left;
}

.footer__contact p {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__contact i {
    color: #ffb84d;
}
.footer__bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 15px;
   
    font-size: 0.9rem;
}
/* --- CHO ĐT --- */
@media (max-width: 768px) {
    .footer {
        text-align: center;
    }
    .footer__col h3::after {
        margin: 8px auto 0;
    }
}