.back {
    background-color: #f6f5f4;
    font-size: 13px;
    padding: 10px;
}

.back a,
.back span {
    text-decoration: none;
    color: #a1a0a0;
    margin-left: 20px;
}

.wishlist-containers {
    width: 1200px;
    margin: auto;
}

.wishlist-container__head {
    font-size: large;
    text-align: center;
    margin: 40px 0;
}

.wishlist-container__head h2 i {
    color: #EC4699;
}

.wishlist-container__head p span {
    color: #EC4699;
    font-weight: bold;
}

.wishlist-container__card {
    position: relative;
    width: 320px;
    border: 1px solid #b4b3b3;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.wishlist-container__card img {
    width: 100%;
    height: 220px;
}

.wishlist-container__card .trash {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(255, 255, 255);
    background-color: #EF4444;
    width: 40px;
    height: 40px;
}

.wishlist-container__card .trash {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.wishlist-container__card .trash:hover{
    background-color: #B91C1C;
    transition: ease .3s;
}

.wishlist-container__card button {
    width: 100%;
    padding: 10px;
    background-color: #FF6C80;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.wishlist-container__card button:hover{
    color: #FF6C80;
    background-color: white;
    transition: ease .3s;
    border: 1px solid #FF6C80;
}

.star {
    color: #efcb49;
    margin: 10px 0;
}

.wishlist-container {
    display: flex;

}

.continue-shopping {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px;
}

.continue-shopping a {
    text-decoration: none;
}

.continue-shopping h2 {
    cursor: pointer;
    font-weight: 800;
    color: #FF6C80;
    border: 1px solid #FF6C80;
    border-radius: 50px;
    padding: 10px 30px;
    margin: 0 10px;
}
.continue-shopping h2:hover {
    background-color: #FF6C80;
    color: white;
    transform: ease .3s;
}