<!--HEADER-->
<header class="header">
    <!-- PHẦN TRÊN: thông tin + mạng xã hội -->
    <div class="header__first">
        <div class="container">
            <div class="header__top-left">
                <a href="https://maps.app.goo.gl/nj1KfxS8ajpDxTni6" target="_blank">
                    <span><i class="fa-solid fa-location-dot"></i> Trường Đại Học Nông Lâm TPHCM</span></a>
                <a href="" target="_blank"><span><i class="fa-solid fa-envelope"></i>
                        shopstemteam22@gmail.com</span>
                </a>
            </div>
            <div class="header__top-right">
                <div class="header__phone-top">
                    <a href="" target="_blank"><span><i class="fa-solid fa-phone"></i>
                            +84 898658107</span>
                    </a>
                </div>
                <div class="header_icon-top">
                    <a href="" class="header__icon-right"> <i class="fa-brands fa-facebook-f"></i> </a>
                    <a href="" class="header__icon-right"> <i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="header__icon-right"> <i class="fa-brands fa-amazon"></i> </a>
                    <a href="" class="header__icon-right"> <i class="fa-brands fa-twitter"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <!-- PHẦN DƯỚI:  menu + user -->
    <div class="header__end">
        <div class="container">
            <div class="header__end-left">
                <div class="header__logo">
                    <a href="index.html"> <img src="/src/assets/images/logo.png" alt="logo"> </a>
                </div>
                <div class="header__nav">

                    <!--NAV-->

                    <nav class="nav-content">
                        <ul class="nav__list">

                            <!-- Trang chủ -->
                            <li class="nav__item"><a href="/index.html">Trang chủ</a></li>

                            <!-- Giới thiệu -->
                            <li class="nav__item dropdown">
                                <a href="/src/pages/main/about.html">Giới thiệu <i class="fa-solid fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/src/pages/about_info/about-stem.html">Về STEM</a></li>
                                   <li><a href="/src/pages/main/faq.html">Câu hỏi thường gặp</a></li>
                                    <li><a href="/src/pages/about_info/mission.html">Sứ mệnh & Tầm nhìn</a></li>
                                    <li><a href="/src/pages/about_info/about-group.html">Nhóm phát triển</a></li>
                                    <li><a href="/src/pages/about_info/guide.html">Tài liệu hướng dẫn</a></li>
                                </ul>
                            </li>

                            <!-- Cửa hàng -->
                            <li class="nav__item dropdown">
                                <a href="/src/pages/shop/shop.html">Cửa hàng <i class="fa-solid fa-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/src/pages/shop/category.html">Danh mục sản phẩm</a></li>
                                    <li><a href="/src/pages/shop/product-detail.html">Chi tiết sản phẩm</a></li>
                                    <li><a href="/src/pages/shop/cart.html">Giỏ hàng</a></li>
                                    <li><a href="/src/pages/shop/wishlist.html">Yêu thích</a></li>
                                    <li><a href="/src/pages/shop/checkout.html">Thanh toán</a></li>
                                </ul>
                            </li>

                            <!-- Bài viết -->
                            <li class="nav__item dropdown">
                                <a href="/src/pages/content/blog.html">Bài viết <i
                                        class="fa-solid fa-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/src/pages/content/blog-category.html">Danh mục bài viết</a></li>
                                    <li><a href="/src/pages/content/blog-detail.html">Chi tiết bài viết</a></li>
                                    <li><a href="/src/pages/content/gallery.html">Bộ sưu tập hình ảnh</a></li>
                                </ul>
                            </li>

                            <!-- Sự kiện -->
                            <li class="nav__item dropdown">
                                <a href="/src/pages/workshop/events.html">Sự kiện <i
                                        class="fa-solid fa-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/src/pages/workshop/workshop.html">Workshop</a></li>
                                    <li><a href="/src/pages/workshop/register.html">Đăng ký tham gia</a></li>
                                    <li><a href="/src/pages/workshop/materials.html">Tài liệu Workshop</a></li>
                                    <li><a href="/src/pages/workshop/rate.html">Đánh giá</a></li>
                                </ul>
                            </li>


                            <!-- Liên hệ -->
                            <li class="nav__item"><a href="/src/pages/main/contact.html">Liên hệ</a></li>

                        </ul>
                    </nav>

                </div>
            </div>

            <div class="header__end-right">
                <div class="header__shop">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="header__user">
                    <a href="src/pages/user/sign-in.html"><span><i class="fas fa-user"></i> Đăng nhập </span></a>
                    <span class="divider">|</span>
                    <a href="src/pages/user/sign-up.html"><span> <i class="fas fa-pencil-alt"></i> Đăng ký </span></a>
                </div>
            </div>
        </div>
    </div>
</header>