

/*-----CSS cơ bản chung cần có------*/

/*-----CSS BASE------*/
@import url(base.css);


/*-----CSS FONTS-----*/
@import url(fonts/fonts.css);


/*-----CSS LAYOUT------*/
@import url(layout/header.css);
@import url(layout/footer.css);
@import url(layout/container.css);

/*-----CSS COMPOENTS------*/
@import url(components.css);








